<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div class="customer">
        <a href="{% url 'customer'%}">Customer</a>
    </div>
    <div class="counter">
        <a href="{% url 'reader'%}">Meter Reader</a>
    </div>
    <div class="counter">
        <a href="{% url 'counter'%}">Counter</a>
      </div>
</body>
</html>