<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Counter</title>

</head>
<body>
    <h1>Edit Counter</h1>
    <form action="POST" action="/UPDATE/{{Users.email}}">
        {%csrf_token%}
        <table border="2">
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" value="{{Users.email}}"></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="email" value="{{Users.username}}"></td>
            </tr>
            <tr>
                <td>Citizenship</td>
                <td><input type="text" name="email" value="{{Users.email}}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Update "></td>
            </tr>{%if messages%}
            <td>
                {%for mess in messages %}
                <b style="color:aqua">{{mess}}</b>
                {%endfor%}
                {%endif%}
            </td>
        </table>
    </form>
</body>
</html>